*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
*.js.map
.idea
.project
.strong-pm
coverage
node_modules
package-lock.json
yarn.lock
helper/local.coffee
helper/local.js
log
cert

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

